body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0'

}

/* 
.floating-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 750px;
    height: auto;
    background-color: #FEFAE7;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 6px;
    margin-bottom: 6px;
} */
.floating-Box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /* Two rows with equal height */
    grid-gap: 20px;
    /* position: relative; */
    width: 750px;
    height: auto;
    background-color: #FEFAE7;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 6px;
    margin-bottom: 6px;
}




.class1 {
    align-self: flex-start;
    /* Align to the top */
    padding-top: 20px;
    padding-left: 30px;
    width: 50%;
    font-size: xx-small;
    box-sizing: border-box
}

.class2 {
    align-self: flex-end;
    /* Align to the bottom */
    text-align: left;
    /* Align text to the right */
    padding-right: 30px;
    padding-bottom: 20px;
    width: 50%;
    font-size: xx-small;
    box-sizing: border-box
}

.face {
    width: 40px;
    height: 40px;
    display: inline-block;
    /* Set image as inline-block */
    margin-right: 10px;
    margin-top: 10px;
    padding-right: 10px
}

.top1 {
    display: flex;
    flex-direction: row;
}

.top2 {
    position: absolute;
    top: -15px;
    left: 50%;
    width: 40px;
    height: 40px;

}

ul {
    list-style-type: none;
    padding: 0;
}

li::marker {
    content: '\2022';
    /* Unicode character for a bullet point */
    color: #F95700;
    /* Set the color to yellow */
    font-size: 30px;
    /* Adjust the font size of the bullet point */
    margin-right: 10px;
    /* Optional: Add some space to the right of the bullet point */
    vertical-align: middle;
    margin-right: 10px;
}

.salesimg {
    width: 40vh;
    height: 40vw;
}

.manimg {
    width: 40vh;
    height: 40vw;
}